body {
  background: rgb(110,180,58);
  background: linear-gradient(90deg, rgba(110,180,58,0.8) 0%, rgba(253,252,29,0.5) 50%, rgba(110,180,58,0.8038793103448276) 100%);
}
.header {
  text-align: center;
  padding: 2rem;
  margin: auto;
  color: green;
  border-bottom: .25rem green solid;
}
#title{
	color: white;
	font-size: 5rem;
	-webkit-text-stroke: 1px #F8F8F8;
	text-shadow: 0px 2px 4px green;
}
.header h1{
  font-size: 5rem;
}
.userInfo {
  background-image: url("../assets/img/xchange.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 80%;
  padding: 2rem;
  margin: auto;
  margin-top: 2rem;
  text-align: left;
  background-color:ivory;
  border: solid green;
  border-radius: .25rem;
}
.monetForm {
  background-color: #ffffff;
  opacity: 0.75;
  color: green;
  text-align: center;
  width: 70%;
  margin: auto;
  border: solid green;
  border-radius: .25rem;
}
label, input, button, select {
  padding: 1rem;
  text-align: center;
}
button {
  margin-bottom: 1rem;
}
.output {
  display: none;
  background-image: url("../assets/img/xchange.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  padding: 2rem;
  margin: 2rem;
  background-color:ivory;
  border: solid green;
  border-radius: .25rem;
}
.showOutput {
  background-color: #ffffff;
  opacity: 0.75;
  color: green;
  text-align: center;
  width: 70%;
  margin: auto;
  border: solid green;
  border-radius: .25rem;
}
.showOutput p {
  margin: 2rem; 
}
.audio {
  margin: auto; 
  text-align: center;
}
.errorMsg {
  margin: auto; 
  text-align: center;
}
.animation {
  margin: auto;
  display: block;
  position: relative; 
  animation: move 5s infinite alternate;
  animation-timing-function: ease-in;
}
.animation p {
  margin-top: .5rem;
  color: white;
	font-size: 1.5rem; 
	-webkit-text-stroke: 1px #F8F8F8;
	text-shadow: 2px 3px 5px green;
}

@keyframes move {
  from {left: -300px;}
  to {left: 300px;}
}